<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="PingCoWebAPI"/>
  <assembly name="PingCo.DAL"/>
  <assembly name="PingCo.BLL"/>
  <container>
    <register type="PingCo.DAL.IPingCoDataUnitOfWork" mapTo="PingCo.DAL.PingCoDataUnitOfWork">
      <lifetime type="singleton" />
      <constructor>
      </constructor>
    </register>
    <!--Change data sources by mapping to different assembly.namespace.repository-->
    <register type="PingCo.DAL.ILocationRepository" mapTo="PingCo.DAL.LocationRepository"/>
    <register type="PingCo.BLL.ILocationBS" mapTo="PingCo.BLL.LocationBS"/>
    <register type="PingCo.DAL.IDeviceRepository" mapTo="PingCo.DAL.DeviceRepository"/>
    <register type="PingCo.BLL.IDeviceBS" mapTo="PingCo.BLL.DeviceBS"/>
    <register type="PingCo.DAL.IInterfaceRepository" mapTo="PingCo.DAL.InterfaceRepository"/>
    <register type="PingCo.BLL.IInterfaceBS" mapTo="PingCo.BLL.InterfaceBS"/>
    <register type="PingCo.DAL.IIPAddressRepository" mapTo="PingCo.DAL.IPAddressRepository"/>
    <register type="PingCo.BLL.IIPAddressBS" mapTo="PingCo.BLL.IPAddressBS"/>
  </container>
</unity>
